<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>離線簽章程式</title>
    <link rel="icon" type="image/gif/png" href="./img/logo.png">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/regular.css" rel="stylesheet">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/svg-with-js.css" rel="stylesheet">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/v4-shims.css" rel="stylesheet">
</head>
<body>
    <div class="row content">
        <div class="col-4 navbar-custom">
            <h2 class="title">Signature APP</h2>
            <ul class="">
                <li class="" id="produce-sign">製作檔案簽章</li>
                <li class="" id="setting-privatekey">設定企業私鑰 <i class="far fa-check-square icon-left"></i></li>
                <li class="" id="setting-apikey">設定api key <i class="far fa-check-square icon-left"></i></li>
                <li class="" id="setting-autoSignPath">自動簽章路徑 <i class="far fa-check-square icon-left"></i></li>
                <li class="select-active" id="instructions">使用方式介紹</li>
            </ul>
        </div>
        <div class="col-8">
            <div class="row mt-3 hidden" id="col-privateKey">
                <label>設定企業私鑰</label>
                <div class="input-group mt-5">
                    <input type="file" class="form-control" id="privateKey" name="privateKey" multiple>
                </div>
            </div>
    
            <div class="row mt-3 hidden" id="col-apiKey">
                <label>設定api key</label>
                <div class="input-group mt-5">
                    <input type="text" class="form-control" id="apiKey" name="apiKey" multiple>
                </div>
            </div>

            <div class="row mt-3 hidden" id="col-uploadFile">
                <label>選擇檔案產生檔案簽章</label>
                <div class="input-group mt-5">
                    <input type="file" class="form-control" id="uploadFile" name="uploadFile" multiple>
                </div>
                <div class="input-group mt-5">
                    <span class="input-group-text" id="inputGroup-sizing-default">標籤</span>
                    <input type="text" class="form-control" id="fileTag" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>

            <div class="row mt-3 input-group hidden" id="col-autoSignPath">
                <label>自動簽章路徑</label>
                <div class="">
                    <button class="btn btn-outline-secondary" type="button" id="autoSignBtn" name="autoSignBtn">select</button>
                    <input type="text" class="form-control" id="autoSignPath" aria-describedby="inputGroup-sizing-default" disabled>
                </div>
            </div>

            <div class="row mt-3" id="col-instructions">
                <label>使用方式介紹</label>
                <img class="mt-5" src="img/instructions.png" alt="" srcset="">
                
            </div>
            <div class="row mt-3 hidden" id="col-send">
                <div class="col"></div>
                <div class="col text-center">
                    <button type="button" class="btn btn-primary" id="send">傳送</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/navbar.js"></script>
    <script>
        require('../dist/index.js');
    </script>
</body>
</html>